	*{
	font-family: 'Raleway', sans-serif;
	}
	body{
		margin: 40px;
		color: white;
		background-color: #0d001a;
	}
	h1, h2, a{
		color:#751aff;
	}
	
	p, li{
		color: white;
	}
	button{
		background-color: #f2f2f2;
		color: #0d001a;
		font-weight: bold;
		padding: 10px; 
		border: 1px solid #f2f2f2;
		border-radius: 4px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s; 
  		transition-duration: 0.4s;
	}
	button:hover{
		box-shadow: 0 12px 16px 0 rgba(117, 26, 255,0.50),0 17px 50px 0 rgba(117, 26, 255,0.45);
	}
	a{
		text-decoration: none;
	}
	.tri{
		width: 100%;
		clear:both;
	}
	.voltar{
		float: left;
	}
	.exercicio{
		width: 31%;
		float: left;
  		text-align: center;
  		padding: 20px;
		background-color: #1a0133;
 		border-radius: 5px;
  		box-sizing: border-box;
  		margin: 1%;
	}

	
